<button
  class="hidden lg:group-hover:block absolute bottom-2 right-2 left-2 bg-neutral-800 p-2 z-10 text-white rounded-md"
  type="submit"
  value="Add to cart"
>
  Quick Add +
</button>
<button
  class="block lg:hidden bottom-2 right-2 left-2 bg-neutral-800 w-full mt-1 mb-2 p-2 z-10 text-white rounded-md"
  type="submit"
  value="Add to cart"
>
  Quick Add +
</button>
